*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);

}

#container{
    display: grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    height: 400px;
    width: 700px;
    gap: 10px;
    background-color: rgb(0, 0, 0);
}
.one{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: green;
}
.two{

    grid-column-start: 2;
    grid-column-end: 4;
    background-color: green;
}
.four{
    grid-column: 2/3;
    background-color: yellow;
}
.five{
    background-color: red;
}
.six{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: blue;
}
.seven{
    background-color: orange;
}
.eight{
    background-color: pink;
}

.three{
    background-color: brown;
}