*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}
@media (max-width:600px){
    .container{
        background-color: coral;
    }
}
@media (max-width:400px){
    .container{
        background-color: rgb(25, 69, 83);
        width: 200px;
        height: 200px;
    }
}
  @media screen and (min-width:400px) {
     .container{
        background-color: lightgreen;
     }
  }